{# including the change_password form #}

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
{{super()}}

<div class = "follow-format boxColor">
  <h1 class = "text-center">Change Password</h1>
  </div>
<div class = "wrapper">



        <br>
        <br>
<div class="bg-img boxColor">
                <form name="changePasswordForm" id="changePasswordForm" method="POST">

                {{ form.csrf_token }}
                {{wtf.form_field(form.old_password)}}
                {{wtf.form_field(form.new_password)}}
                {{wtf.form_field(form.new_password_confirm)}}
                <div class="submit-container">
                    {{wtf.form_field(form.submit)}}
                  </div>
                </form>
        
      
</div>


</div>
{% block bottom %}
{{ super() }}
{% endblock bottom %}

{% endblock content %} 
