{# including the change_password form #}

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
{{super()}}

<div class = "wrapper">
<div class="bg-img boxColor">
                <form name="changePasswordForm" id="changePasswordForm" method="POST">

                {{ form.csrf_token }}
                {{wtf.form_field(form.old_password)}}
                {{wtf.form_field(form.new_password)}}
                {{wtf.form_field(form.new_password_confirm)}}
                <div class="submit-container">
                    {{wtf.form_field(form.submit)}}
                  </div>
                </form>
        
      
</div>
</div>
{% endblock page_content %} 