{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}App - Login{% endblock  %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <p>
        New user? <a href="{{ url_for('auth.register') }}">
            Register here
        </a>
    </p>
    <p>
        Forgot Password? <a href="{{ url_for('auth.change_password') }}">
            Change Password here
        </a>
    </p>

</div>
{% endblock page_content %}