{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="container">
    {% for msg in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="done" data-dismiss="alert">&times;</button>
            {{ msg }}
        </div>
    {% endfor %}

<h2>Welcome to Tee Timers, {{ user.username }}!</h2>
<p>We would love for you to join our community,
    but before you do, you'll need to confirm your account with us.</p>

    <p>Please check your inbox for an email with a confirmation link.</p>
    <p>If you need a new one, no problem. <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a> and we'll send you a new one.</p>

{% endblock content %}