\\ using templates css for now
.body {
    background-color: #66B9BF;
    }
.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 150px;
}

/* Making user profile boxes*/
*, *::before, *::after {
    box-sizing: border-box;
}

.flex-item {
   flex: 0 0 215px;
   display: inline-block;
   border-radius: 10px;
   border: 5px solid #c3c3c3;
   text-align: center;
   height: 200px;
   width: 200px;
   margin: 10px;

}

.center {
    text-align: center;
}

/**/
.comments-container {
    border: 5px solid #c3c3c3;
    margin-left: 50px;
}

.posts-container {
    border: 5px solid #c3c3c3;
}

.post-user {
    display: inline-block
}

.post-date {
    display: inline-block
}

/*for the index page */
.parallax-effect {
    background-image: url("../static/istockphoto-515229864-612x612.jpeg");
     height: 100%;
    /*width: auto;*/

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 100vw;
  }
  .text {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(to right top, #faa7e4, #f395e5, #e983e9, #dc72ee, #cb63f4);
    font-size: 36px;
    text-align: center;
    font-family: 'Raleway', Arial, sans-serif;
  }