
.body {
    background-color: #f2f2f2;
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 150px;
}

.side-bar-formatting{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 20px;
    color:black;
}


.flex-item {
    /* flex: 0 0 0; */
    display: inline-grid;
    border-radius: 10px;
    border: 5px solid #c3c3c3;
    text-align: center;
    height: 600px;
    width: 350px;
    margin: 10px;
    background-color: white;

}

.center {
    text-align: center;
}

/**/
.comments-container {
    border: 5px solid #c3c3c3;
    margin-left: 50px;
    background-color: white;

}

.posts-container {
    border: 5px solid #c3c3c3;
    background-color: white;

}

.post-user {
    display: inline-block
}

.comment-username {
    display: inline-block
}



.post-date {
    display: inline-block
}

.comment-date {
    display: inline-block
}

/*for the index page */
/*Parallex effect for first image*/
.parallax-effect {
    background-image: url("../static/istockphoto-515229864-612x612.jpeg");
    height: 100%;
    /*width: auto;*/

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 100vw;
}

/*Welcome message for index page*/
.welcome-message {
    color: #FFFFFF;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 200px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title-format {
    color: #FFFFFF;
    font-size: 50px;
    left: -100
}



/*making grid boxes for images of the index page*/
body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0px;
    grid-auto-rows: 20%;
    grid-auto-columns: auto;
    width: 100vw;
    height: auto;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    box-sizing: border-box;



    background-color: #f2f2f2;
    padding-left: 100px;
    padding-right: 100px;
}



.one {
    grid-column: 1 / 2;
    grid-row: 1;
    background-color: #f2f2f2;
    display: block;
    align-self: center;
    justify-self: center;

}

.two {
    grid-column: 2 / 2;
    grid-row: 1;
    background-color: #f2f2f2;
    display: block;
    align-self: center;
    justify-self: center;



}

.three {
    grid-column: 1 / 2;
    grid-row: 2;
    background-color: #f2f2f2;
    background-image: url("../static/istockphoto-486876112-612x612.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    padding: 50px;


}

.four {
    grid-column: 2 / 2;
    grid-row: 2;
    background-color: #f2f2f2;
    text-align: center;
    display: block;
    align-self: center;
    justify-self: center;

}

.five {
    grid-column: 1 / 2;
    grid-row: 3;
    background-color: #f2f2f2;
    text-align: center;
    display: block;
    align-self: center;
    justify-self: center;



}

.six {
    grid-column: 2 / 2;
    grid-row: 3;
    background-color: #f2f2f2;
    background-image: url("../static/istockphoto-1016165168-612x612.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    padding: 50px;


}

.seven {
    grid-column: 1 / 2;
    grid-row: 4;
    background-color: #f2f2f2;
    background-image: url("../static/istockphoto-1272952470-612x612.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    padding: 50px;



}

.eight {
    grid-column: 2 / 2;
    grid-row: 4;
    background-color: #f2f2f2;
    display: block;
    align-self: center;
    justify-self: center;


}

.nine {
    grid-column: 1 / 2;
    grid-row: 5;
    background-color: #f2f2f2;
    align-items: center;
    display: grid;

}

.nine-text-formating {
    text-align: center;
    font-size: 48px;
}

.ten {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    grid-column: 2 / 2;
    grid-row: 5;
    background-color: #57BC90;
    padding: 100px;



}

.ten-text-formating {
    /* margin-left: 100px;
    margin-right: 500px; */
    /* line-height: 30px; */
    /* grid-area: center; */
    display: flow-root;
    justify-content: left;
    align-content: center;
    align-items: baseline;
    justify-items: flex-start;
}

/*Four, Five, Eight formatting */
.formatting {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #015249;

}

.format-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    font-size: 25px;


}

.format-header {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;

}

/*Formatting Matching Page*/

.wrapper-match {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
    grid-auto-rows: 20%;
    grid-auto-columns: auto;
    width: 100vw;
    height: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    box-sizing: border-box;



    background-color: #f2f2f2;
    padding-left: 100px;
    padding-right: 100px;

}

.filter-grid {
    grid-column: 1 / 2;
    grid-row: 1;
    background-color: #f2f2f2;
    display: block;
    justify-self: baseline;
    padding: 50;
}

.matches-grid {
    grid-column: 2 / 2;
    grid-row: 1;
    background-color: #f2f2f2;
    display: block;
    align-self: center;
    justify-self: center;

}

.format-button {
    height: 40;
    width: auto;
    align-items: center;
    justify-self: center;
    justify-content: center;
    text-align: center;


}

/* not working*/
.format-profile-attributes {
    display: inline-block
}





/* 
    Interactive  Button
*/
.btn-three {
    color: white;
    transition: all 0.5s;
    position: relative;
    background-color: #77C9D4;

}

.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

/*Nav Bar*/
.name-formatting {
    color: black;
    font-size: 24px;

}

.icon-formatting {
    color: black;
    border-color: black;
    font-size: 50px;
}

.nav-bg {
    background-color: #f2f2f2;

}


/* Submit button*/
* {
  font-family: 'Roboto', sans-serif;
}
.submit-container {
  /* position: absolute;
  top:50%;
  left:50%;
  margin-left: -65px;
  margin-top: -20px; */
  width: 130px;
  height: 40px;
  text-align: center;
}
.submit-container > .btn {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color:#1ECD97;
  letter-spacing:1px;
  text-shadow:0;
  font-size:12px;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.25s ease;

}
.submit-container > .btn:hover {
    color:white;
    background: #1ECD97;
  }
.submit-container > .btn:active {
    letter-spacing: 2px ;
  }
.submit-container > .btn:after {
    content:"SUBMIT";
  }
.submit-container > .onclic {
  width: 40px;
  border-color:#bbbbbb;
  border-width:3px;
  font-size:0;
  border-left-color:#1ECD97;
  animation: rotating 2s 0.25s linear infinite;
}
.submit-container > .onclic:after {
    content:"";
  }
  .submit-container > .onclic:hover {
    color:#1ECD97;
    background: white;
  }

  .submit-container > .validate {
  font-size:13px;
  color: white;
  background: #1ECD97;
}
.submit-container > .validate:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Forum page*/
.forum-formatting{
    padding-left: 150px;
    padding-right: 150px;

}

.page-formatting{
    padding-left: 150px;
    padding-right: 150px;

}

/*two section*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body{
}

.wrapper_two{
}

.wrapper_two .title_two{
}

.wrapper_two .tabs_wrap_two{
}

.wrapper_two .tabs_wrap_two ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.wrapper_two .tabs_wrap_two ul li{
	width: 135px;
    text-align: center;
    background: #e9ecf1;
    border-right: 1px solid #c1c4c9;
    padding: 13px 15px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.wrapper_two .tabs_wrap_two ul li:first-child{
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.wrapper_two .tabs_wrap_two ul li:last-child{
	border-right: 0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.wrapper_two .tabs_wrap_two ul li:hover,
.wrapper_two .tabs_wrap_two ul li.active{
	background: #1ECD97;
	color: #fff;
}

.wrapper_two .container_two .item_wrap_two{
	padding: 10px 20px;
	border-bottom: 1px solid #ebedec;
	cursor: pointer;
}

.wrapper_two .container_two .item_wrap_two:hover{
	background: #e9ecf1;
}

.wrapper_two .container_two .item_two{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}


/*nav bar*/
.navbar{
    margin-bottom: 0px;
}


/*messaging*/
#container{
	width:750px;
	height:800px;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
    margin-top: 50px;
}
aside{
	width:260px;
	height:800px;
	background-color:#3b3e49;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	width:490px;
	height:800px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside header{
	padding:30px 20px;
}
aside input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#5e616a;
	border:none;
	border-radius:3px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:170px;
	background-size:40px;
}
aside input::placeholder{
	color:#fff;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:690px;
}
aside li{
	padding:10px 0;
}
aside li:hover{
	background-color:#5e616a;
}
h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}


main header{
	height:110px;
	padding:30px 20px 30px 40px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}
main header img:first-child{
	border-radius:50%;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
}
main header div{
	margin-left:10px;
	margin-right:145px;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:535px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#58b666;
}
#chat .me .message{
	background-color:#6fbced;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #58b666 transparent;
		margin-left:15px;
}
#chat .me .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-left:375px;
}

main footer{
	height:155px;
	padding:10px 30px 10px 20px;
}
main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
	height:80px;
	border-radius:3px;
	padding:20px;
	font-size:13px;
	margin-bottom:13px;
}
main footer textarea::placeholder{
	color:#ddd;
}
main footer img{
	height:30px;
	cursor:pointer;
}
main footer a{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	vertical-align:top;
	margin-left:333px;
	margin-top:5px;
	display:inline-block;
}

/*send_message*/

.message-user{

}

.message-date{

}

.message-description{

}