<ul class="comment">

    {% for comment in comments %}
    <li class="comment">
        {# Single comment #}
        <div class="comment-content">
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>

            <div class="comment-description">
                <p>
                    {{ comment.description }}
                </p>
            </div>

            <div class="comment-user fontSize">
                <a href="{{ url_for('main.user', username = comment.users.username) }}">
                    {{ comment.users.username }}
                </a>
            </div>
            <br>


            {% endfor %}
        </div>