<div>
    <ul class="comments">

    {% for comment in comments %}
    <li class="comment">
        {# Single composition #}
        <div class="comment-content">
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
            <div class="comment-title">
                <a href="{{ url_for('.forum', slug=comment.slug) }}">
                    {{ comment.title }}
                </a>

                <div class="comment-user">
                    <a href="{{ url_for('main.user', username=comment.userid) }}">
                        {{ comment.users.username }}
                    </a>
                </div>
    <a class="btn btn-default" href="{{ url_for('.edit_comment') }}">
        Reply
    </a>


                {% endfor %}
</div>
