<ul class="posts">

    {% for post in posts %}
    <li class="post">
        {# Single post #}

        <div class="posts-container">
            <h2>Post</h2>
            <div class="post-user">
                <a href="{{ url_for('main.user', username = post.users.username) }}">
                    {{ post.users.username }}
                </a>
            </div>

            <div class="post-date">- {{ post.timestamp }} {{moment(post.timestamp).fromNow() }}</div>
            <div class="post-title">
                    {% if post.slug %}
                <a href="{{ url_for('.post', slug = post.slug) }}">
                {% endif %}
                    {{ post.title }}</a>
            </div>

            <div class="post-description">
                <p>
                    {{ post.description }}
                </p>
            </div>
            <a class="btn btn-default" href="{{ url_for('main.comment_form') }}">
                <i class="bi bi-reply-all-fill"></i> reply
            </a>
    
        </div>
        <br>


        {% if post.comments %}
        {% if post.comments.count() > 0 %}
    <li class="comment">
        <div class="comments-container">
            <h2>Comments</h2>
            {% for comment in post.comments.all() %}
            <div class="comment-content">
                <div class="comment-username">
                    <a href="{{ url_for('main.user', username = comment.users.username) }}">

                        {{ comment.users.username }} -
                    </a>
                </div>
                <div class="comment-date"> {{ comment.timestamp }} {{moment(comment.timestamp).fromNow() }}</div>

                <div class="comment-description">
                    {{ comment.description }}
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}


        {% endfor %}