{# listing out all of the posts and all of the comments#}
<div class="posts">

    <header>
        <input type="search" placeholder="filter" id="filterBox" onkeyup="filterPostFunction()">

    </header>
    
    {% for post in posts %}
    <div class="post forum-formatting wrapper">
        {# Single post #}

     
        <div class="posts-container forum-formatting">

    
            <div class="post-user">
                <a href="{{ url_for('main.user', username = post.users.username) }}">
                    <b>{{ post.users.username }}</b>
                </a>
            </div>
            <br>
            <div class="post-date">{{ post.timestamp.replace(microsecond=0).strftime("%b %d %H:%M") }}
                {{moment(post.timestamp.replace(microsecond=0)).fromNow() }}</div>
            <div class="post-title">
                {% if post.slug %}
                <a href="{{ url_for('.post', slug = post.slug) }}">
                    {% endif %}
                    <br>
                    <b>{{ post.title }}</b></a>
            </div>
            <div class="post-description">
                <p>
                    {{ post.description }}
                </p>

            </div>
            <br>
            {# <div class="form-header">
                <form name="commentForm" id="commentForm" method="POST" action="/forum">

                    {{ comment_form.csrf_token }}

                    {{ wtf.form_field(comment_form.description)}}
                    <input type="hidden" name="form_type" value="comment_form">
                    <div class="submit-container">

                        {{wtf.form_field(comment_form.comment_submit)}}
                </form>
            </div>
            #}
            {% include '_comment_form.html' %}


            

        </div>

        <br>


        {% if post.comments %}
        {% if post.comments.count() > 0 %}
        <div class="comment forum-formatting wrapper">
            {% for comment in post.comments.all() %}
            <div class="comments-container forum-formatting">
    
                <div class="comment-content post-{{ post.id }} comment-right">
                    <div class="comment-username">
                        <a href="{{ url_for('main.user', username = comment.users.username) }}">
    
                            <b>{{ comment.users.username }}</b>
                        </a>
                    </div>
                    <br>
    
                    <div class="comment-date"> {{ comment.timestamp.replace(microsecond=0).strftime("%b %d %H:%M") }}
                        {{moment(comment.timestamp.replace(microsecond=0)).fromNow() }}</div>
    
                    <br>
                    <br>
                    <div class="comment-description">
                        {{ comment.description }}
                    </div>
    
                </div>
    
            </div>
            <br>
            {% endfor %}
        </div>
        <br>
    
    
        {% endif %}
    
        {% endif %}
    
    </div>

    
    {# <a class="btn btn-default" href="{{ url_for('main.comment_form , post_id=post.id') }}">
        <i class="bi bi-reply-all-fill"></i> reply
    </a> #}




<br>
<br>

{% endfor %}
</div>