
<div class="posts">

    {% for post in posts %}
    <div class="post forum-formatting ">
        {# Single post #}

        <div class="posts-container forum-formatting wrapper">
            <div class="post-user">
                <a href="{{ url_for('main.user', username = post.users.username) }}">
                    {{ post.users.username }}
                </a>
            </div>

            <div class="post-date">{{ post.timestamp.replace(microsecond=0).strftime("%b %d %Y %H:%M:%S") }}
                {{moment(post.timestamp.replace(microsecond=0)).fromNow() }}</div>
            <div class="post-title">
                {% if post.slug %}
                <a href="{{ url_for('.post', slug = post.slug) }}">
                    {% endif %}
                    {{ post.title }}</a>
            </div>

            <div class="post-description">
                <p>
                    {{ post.description }}
                </p>

            </div class="form-header">
            <form name="commentForm" id="commentForm" method="POST" action="/forum">

                {{ comment_form.csrf_token }}

                {{ wtf.form_field(comment_form.description)}}
                <div class="submit-container">

                    {{wtf.form_field(comment_form.comment_submit)}}
            </form>
        </div>

    </div>
</div>

</div>
{# <a class="btn btn-default" href="{{ url_for('main.comment_form') }}">
    <i class="bi bi-reply-all-fill"></i> reply
</a> #}


</div>

</div>
<br>


{% if post.comments %}
{% if post.comments.count() > 0 %}
<div class="comment forum-formatting">
    <div class="comments-container forum-formatting">
        {% for comment in post.comments.all() %}
        <div class="comment-content">
            <div class="comment-username">
                <a href="{{ url_for('main.user', username = comment.users.username) }}">

                    {{ comment.users.username }} -
                </a>
            </div>
            <div class="comment-date"> {{ comment.timestamp.replace(microsecond=0).strftime("%b %d %Y %H:%M:%S") }}
                {{moment(comment.timestamp.replace(microsecond=0)).fromNow() }}</div>

            <div class="comment-description">
                {{ comment.description }}
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
<br>


{% endif %}

{% endif %}

<br>
<br>
{% endfor %}