{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
{{super()}}

<div class="form-header">
{# {{ wtf.quick_form(form) }} #}
<form name="profile_edit_form"  id="profileEditForm" method="POST">
{{ form.csrf_token }}

{# have to edit so that the administrator can edit their own problem with the edit button. #}
{% if current_user.is_administrator()%}
{{wtf.form_field(form.username)}}
{{wtf.form_field(form.role)}}
{{wtf.form_field(form.confirmed)}}
{% endif %}

{{wtf.form_field(form.name)}}
{{wtf.form_field(form.age)}}
{{wtf.form_field(form.city)}}
{{wtf.form_field(form.state)}}
{{wtf.form_field(form.bio)}}
{{wtf.form_field(form.gender)}}
{{wtf.form_field(form.day)}}
{{wtf.form_field(form.time_of_day)}}
{{wtf.form_field(form.ride_or_walk)}}
{{wtf.form_field(form.handicap)}}
<p>Smoking</p>
{{wtf.form_field(form.smoking)}}
<p>Drinking</p>
{{wtf.form_field(form.drinking)}}
{{wtf.form_field(form.playing_type)}}
{{wtf.form_field(form.golf_course)}}
<div class="submit-container">
    {{wtf.form_field(form.submit)}}
</div>

</form>
</div>
{% endblock content %}