{% extends 'base.html'%}
{% import "_macros.html" as macros %}

{% block content %}
<div class = "follow-format boxColor">
    <h1 class = "text-center">Followers of: {{current_user.username}}</h1>
    </div>
<div class="wrapper">

<br>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">User</th>
        <th scope="col">Since</th>
      </tr>
    </thead>
    <tbody>

    {% for f in user.followers.all()%}

    {% if f.user != user %}
        {# Single composition #}
        <tr height=75px>
            <td>
        <img class="profile-thumbnail" >
            <a href="{{ url_for('.user', username=f.follower.username) }}">
            
                <img class="img-rounded profile-thumbnail" src="../static/jpeg/users/{{user.UserProfile.Img.img}}">
            </td>
            {# follower is from the backref of the following db relationship from models #}
            <td><a href="{{ url_for('main.user', username=f.follower.username) }}">{{f.follower.username}}</a></td>

            <td>    {{ moment(f.timestamp).format('L') }}</td>
            </a>
        </div>

</a>


{% endif %}
    {% endfor %}

</tbody>


</table>


</div>

{% block bottom %}
{{ super() }}
{% endblock bottom %}
{% endblock %}
