{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}


{% block content %}
{{super()}}
    <br>
    <br>
    <div class="forumFormBox wrapper">
        <form name="postForm" id="postForm" method="POST" action="/forum">

            {{ form.csrf_token }}
            {{wtf.form_field(form.title)}}
            {{wtf.form_field(form.description)}}
            <input type="hidden" name="form_type" value="post_form">
            <div class="submit-container">
                {{wtf.form_field(form.post_submit)}}
            </div>
        </form>

    </div>

    <br>
    <br>
    <br>
    {% include '_post.html' %}
    {% if pagination %}
    {{ macros.pagination_widget(pagination, '.forum') }}

    {% endif %}

{% endblock content %}