{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
{{super()}}
</div class="form-header">
{{ wtf.quick_form(form) }}
</div>

<br>
{% include '_post.html' %}


{% endblock content %}



{# after submimission show the posts below #}
{# show the most recent posts #}
{# loop through posts#}
{# show user name and then post #}
{# one write something
    another button below that can reply #}

{# need info from user, shoot the database render commmit data #}

{# reply when there is an id.  post when null #}


{# how do you grab the right post for the page #}

{# paging and ordering #}