{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}
{% from "_macros.html" import flash_messages %}


    {% block content %}
    {{super()}}
    <div class="header-format boxColor">
        <h1 class="text-center">Forum</h1>
    </div>
    <div class="wrapper">

  

    <br>
    <br>


    {% include '_post_form.html'%}
    <br>
    <br>
    <br>
    {% include '_post.html' %}
    {{ flash_messages() }}
  

    {% if pagination %}
    {{ macros.pagination_widget(pagination, '.forum') }}

    {% endif %}

 
    
    





</div>
{% block bottom %}
{{ super() }}
{% endblock bottom %}
{% endblock content %}