{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}
{% block content %}
{{super()}}

<div class="wrapper">

  {% include 'golf_log_form.html' %}




  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">Satisfaction Level</th>
        <th scope="col">Date</th>

      </tr>
    </thead>
    <tbody>
<br>
<br>
      {% for log in logs%}

      {# Single log #}
      <tr height=75px>
        <td>
          {{log.action.action}}
        </td>
        <td>
          {{log.satisfaction.satisfaction}}
        </td>

        <td> {{ moment(log.timestamp).format('L') }}</td>



        </a>
</div>


</a>


{% endfor %}

</tbody>


</table>


{% if pagination %}
{{ macros.pagination_widget(pagination, '.golf_log') }}

{% endif %}




</div>
{%endblock content %}