{% extends 'base.html'%}


{%import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

<head>
</head>

{% block title %} {{super()}} Home {% endblock title%}



{% block page_content %}
{# <h1>Connecting golfers one tee time at a time.</h1> #}


<div class="parallax-effect">
  <div class="welcome-message">Welcome to Tee Timers</div>
</div>

<div class="wrapper">
  <div class="one">
    <h2 class="nine-text-formating">Golf with a <span class="highlighted-text text-gray-300">friend</span></h1>

      <div id="section-1_grid" class="section-1_grid">

        <img src="../static/Vanilla-1s-280px.svg" />
      </div>
  </div>

  <div class="two">
    <div class="wrapper_two">
      <div class="tabs_wrap_two">
        <ul>
          <li data-tabs="find">Find</li>
          <li data-tabs="message">Message</li>
          <li data-tabs="play">Play</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="three wrapper_two item_wrap_two item_two find"></div>

  <div class="four wrapper_two bg-rose-800 item_wrap_two item_two find">
    <div>
      <h2 class="nine-text-formating">Find Golfers</h2>
    </div>
    <div>
      <p class="format-text">Find a playing partner that suits you.</p>
    </div>
  </div>
  <div class="five wrapper_two item_wrap_two item_two message">
    <h2 class="nine-text-formating">Messaging and Forum</h2>
    <p class="format-text">Get to know them through messages or ask questions through the forum.</p>

  </div>
  <div class="six wrapper_two item_wrap_two item_two message"></div>
  <div class="seven wrapper_two item_wrap_two item_two play"></div>
  <div class="eight wrapper_two item_wrap_two item_two play">
    <h2 class="nine-text-formating">Meet and Play</h2>
    <p class="format-text">Meetup and start playing together.</p>
  </div>

  <div class="nine">
    <h2 class="nine-text-formating"> Send your good vibes our way.

    </h2>
  </div>
  <div class="ten">
    <div class="support-form ten-text-formating">
      <form name="supportForm" id="supportForm" method="POST">
        {{ form.csrf_token }}
        {{wtf.form_field(form.name)}}
        {{wtf.form_field(form.email)}}
        {{wtf.form_field(form.message)}}


        <div class="submit-container">
          {{wtf.form_field(form.submit)}}
        </div>
      </form>

    </div>
  </div>
</div>



{# bootstrap some footers#}
{% endblock%}