{% extends 'base.html'%}


{%import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block title %} {{super()}} Home {% endblock title%}



{% block page_content %}
{# <h1>Connecting golfers one tee time at a time.</h1> #}


<body>
  <div class="parallax-effect">
    <div class="welcome-message">Welcome to Tee Timers</div>
  </div>

 <div class="wrapper">
  <div class="one">One</div>
  <div class="two">Two</div>
  <div class="three">Three</div>
  <div class="four">Four</div>
  <div class="five">Five</div>
  <div class="six">Six</div>
  <div class="seven">Seven</div>
  <div class="eight">Eight</div>

</div>

  <div class="text">
    Parallax Effect
  </div>
</body>

{# <h2>How It Works</h2>
<p>1. Filter golfers that you would like to message.
  2. Message them and start golfing together.
  3. Comment on the forum for more short term matching.
</p> #}
{# bootstrap some footers#}
{% endblock%}