{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
{{super()}}
    <div class="wrapper">

<h1 class ="text-center">18-Hole Leaderboard</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Username</th>
      <th scope="col">Total Points</th>
    </tr>
  </thead>
  <tbody>
    {% for rank, user_points in sorted_user_points %}
      {# {% if user %} #}
        <tr height=75px>
            <td>{{ loop.index }}</td>
            <td>{{ users[loop.index-1].username }}</td>
            <td>{{ user_points }}</td>
        </tr>
      {# {% endif %} #}
    {% endfor %}
  </tbody>
</table>
</div>
{%endblock content %}