{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}{{super()}} User {{user_name}}{% endblock title %}

{% block navbar %}
{{ super() }}
{% endblock navbar %}


{# get all users #}
{% block page_content %}
{{ super() }}

{# <div class="col-md-5">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="male" id="flexCheckDefault" name="property_checkbox">
        <label class="form-check-label" for="flexCheckDefault">Male</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="female" id="flexCheckDefault" name="property_checkbox">
        <label class="form-check-label" for="flexCheckDefault">Female</label>

    </div>#}

    {#<div class="col-md-5"></div>
    <form method="POST" action="/"> {{ form.csrf_token }}
        Male<input type="checkbox" value="1" name="mycheckbox">
        Female<input type="checkbox" value="2" name="mycheckbox">
        Other<input type="checkbox" value="3" name="mycheckbox">
        <input type="submit">
    </form>
</div>#}

<form method="post" action="">
    <table class="table table-bordered">
        <thead>
            {% for i in range(categories|length) %}
            <tr>
                <th> {{ categories[i] }} </th>

            {% for cell in cells[i] %}
                <td><input id="{{ categories[i]+ cell }}" type="checkbox" name="{{ categories[i]+cell }}">{{ cell }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </thead>
    </table>
    <div class="form-group col-md-1">
        <input type="submit" value="Submit" class="btn btn-info" />
    </div>
</form>


<ul class="users">


    {% for user in users %}
    <li class="user">
        {# Single user #}
        <div class="user-content">
            <div class="user-username">
                <a href="{{ url_for('main.user', username=user.username) }}">
                    {{ user.username }}
                </a>
            </div>
        </div>
    </li>

    {% endfor %}
</ul>
{# username, #}

{# create gender with choices for a filter#}
{# if gender is clicked then filter #}
{# checkbox on or off #}
{# 3 check boxes #}


{# show all filters with checkboxes #}
{# for each user you can follow, or message, link #}
{#filter for different golf courses# }
{# as each filter is done then it starts filtering list #}


{# paging and ordering #}

{% endblock %}