{% extends 'base.html'%}
{%import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div id="container">
    <aside>
        <header>
            <input type="text" placeholder="search">
        </header>

        <ul>
            {# {% for message in messages %} #}
            {% set recipient_list = [] %}
            {%for recipient in messages if recipient.Message.sender_id not in recipient_list%}
            {% do recipient_list.append(recipient.Message.sender_id)%}

            {# {% if message.Message.sender_id == current_user.id or message.Message.recipient_id == current_user.id%} #}
            {# {% set recipient_list = [] %} #}
            {# {%for recipient in messages if recipient.Message.sender_id not in recipient_list%} #}
            {# {% do recipient_list.append(recipient.Message.sender_id)%}
            {%endfor%} #}

            <li>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
                <div>
                    <h2> {{recipient.Message.sender_id}} </h2>
                </div>
            </li>
            {# {%endif%} #}
            {%endfor%}
        </ul>
    </aside>
    <main>
        <header>
            <div>
                <h3> Chat with {{ recipient }}</h3>
            </div>

        </header>
        <ul id="chat">
            {% for message in messages %}

            {% if message.Message.sender_id == current_user.id %}
            <li class="me"> {# thought that a blue bubble would appear#}

                <div class="message-user entete">
                    <a href="{{ url_for('main.user', username = current_user.username) }}">
                        {{ current_user.username }}
                    </a>
                </div>
                <div class="message-date entete">- {{ message.Message.timestamp.replace(microsecond=0).strftime("%b %d
                    %Y
                    %H:%M:%S") }}
                    {{moment(message.Message.timestamp.replace(microsecond=0)).fromNow() }}</div>

                <div class="message-description message">
                    {{message.Message.description}}
                </div>
            </li>
            {% endif %}

            {% if message.Message.sender_id == user.id %}
            <li class="you">

                <div class="message-user entete">
                    <a href="{{ url_for('main.user', username = current_user.username) }}">
                        {{ message.User.username }}
                    </a>
                </div>
                <div class="message-date entete">- {{ message.Message.timestamp.replace(microsecond=0).strftime("%b %d
                    %Y
                    %H:%M:%S") }}
                    {{moment(message.Message.timestamp.replace(microsecond=0)).fromNow() }}</div>

                <div class="message-description message">
                    {{message.Message.description}}
                </div>
            </li>
            {% endif %}

            {% endfor %}
        </ul>
        <footer>
            <form name="message_form" id="messageForm" method="POST">
                {{ form.csrf_token }}

                {{wtf.form_field(form.message)}}

                <div class="submit-container">

                    {{wtf.form_field(form.submit)}}
                </div>

            </form>
        </footer>

    </main>

</div>
{% endblock%}