{% extends 'base.html'%}
{%import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>

<div id="container">
    <aside>
    </aside>
    <main>
        <header>
            <div>
                <h3> Send Message to {{ recipient }}</h3>
            </div>
        </header>
        <ul id="chat">
            {% for message in messages %}
            <li class="me"> {# thought that a blue bubble would appear#}

                <div class="message-user entete">
                    <a href="{{ url_for('main.user', username = current_user.username) }}">
                        {{ current_user.username }}
                    </a>
                </div>
                <div class="message-date entete">- {{ message.timestamp.replace(microsecond=0).strftime("%b %d %Y
                    %H:%M:%S") }}
                    {{moment(message.timestamp.replace(microsecond=0)).fromNow() }}</div>

                <div class="message-description">
                    {{message.description}}
                </div>
            </li>

            {% endfor %}
        </ul>

    </main>

</div>
{% endblock%}