{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}{{super()}} User {{user_name}}{% endblock title %}

{% block navbar %}
{{ super() }}
{% endblock navbar %}


{% block page_content %}
{{ super() }}
<div class="wrapper">
    <div style="display: block;">
        <img class="rounded-circle" src="{{image_file}}">

        <h1>{{ user.username }}</h1>

        {# creating Follow and Unfollow Button #}
        {% if current_user.can(Permission.FOLLOW) %}
        {% if not current_user.is_following(user) %}
        <a class="btn btn-default" href="{{ url_for('.follow', username=user.username) }}">
            Follow
        </a>
        {% else %}
        <a class="btn btn-default" href="{{ url_for('.unfollow', username=user.username) }}">
            Unfollow
        </a>
        {% endif %}
        {% endif %}

        {# creating followers, following, forum, and match button #}
        <button type="button" class="btn btn-light">
            <a href="{{ url_for('.following', username=user.username) }}">Following</a> <span
                class="badge badge-light">{{user.following.count() - 1}}</span>
        </button>

        <button type="button" class="btn btn-light">
            <a href="{{ url_for('.followers', username=user.username) }}">Followers</a> <span
                class="badge badge-light">{{user.followers.count() - 1}}</span>
        </button>

        <button type="button" class="btn btn-light">
            <a href="{{ url_for('.forum', username=user.username) }}">Forum</a> <span class="badge badge-light"></span>
        </button>
        <button type="button" class="btn btn-light">
            <a href="{{ url_for('.match', username=user.username) }}">Match</a> <span class="badge badge-light"></span>
        </button>

        {% if user != current_user %}

        <button type="button" class="btn btn-light">
            <a href="{{ url_for('main.send_message',
                            recipient=user.username) }}">
                Send private message
            </a>
            <span class="badge badge-light"></span>
        </button>
        {% endif %}

        {% if user == current_user %}
        <button type="button" class="btn btn-light">
            <a href="{{  url_for('main.send_message', recipient = current_user.username)  }}">
                Messages
            </a>
            <span class="badge badge-light"></span>
        </button>
        {% endif %}
    </div>

    {# displaying table with user profile #}
    <table class="table table-striped table-hover">
        <tbody>

            <tr>
                <th scope="row">Name</th>
                <td>{% if user.name %}{{ user.name }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Age</th>
                <td>{% if userprofile.UserProfile.age %}{{ userprofile.UserProfile.age }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">City</th>
                <td>{% if userprofile.UserProfile.city_id %}{{ userprofile.City.city }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td>{% if userprofile.UserProfile.state_id %}{{ userprofile.State.state }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Bio</th>
                <td>{% if userprofile.UserProfile.bio %}{{ userprofile.UserProfile.bio }}{% endif %}</td>
            </tr>
            <tr>
            <tr>
                <th scope="row">Gender</th>
                <td>{% if userprofile.UserProfile.gender_id %}{{ userprofile.Gender.gender }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Day</th>
                <td>{% if userprofile.UserProfile.day %} {{userprofile.Day.day}} {% endif %}</td>
            </tr>

            <tr>
                <th scope="row">Time of Day</th>
                <td>{% if userprofile.UserProfile.time_of_day_id %}{{ userprofile.TimeOfDay.time_of_day }}{% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Ride or Walk</th>
                <td>{% if userprofile.UserProfile.ride_or_walk_id %}{{ userprofile.RideOrWalk.ride_or_walk }}{% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Handicap</th>
                <td>{% if userprofile.UserProfile.handicap_id %}{{ userprofile.Handicap.handicap }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Smoking</th>
                <td>{% if userprofile.UserProfile.smoking_id %}{{ userprofile.Smoking.smoking }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Drinking</th>
                <td>{% if userprofile.UserProfile.drinking_id %}{{ userprofile.Drinking.drinking }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Playing Type</th>
                <td>{% if userprofile.UserProfile.playing_type_id %}{{ userprofile.PlayingType.playing_type }}{% endif
                    %}</td>
            </tr>
            <tr>
                <th scope="row">Golf Course</th>
                <td>{% if userprofile.UserProfile.golf_course_id %}{{ userprofile.GolfCourse.course }}{% endif %}</td>
            </tr>

            {% if current_user.is_administrator() %}
            <tr>
                <th scope="row">Email</th>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            </tr>
            {% endif %}

            <th scope="row">Last seen</th>
            <td>{% if user.last_seen %} {{ moment(user.last_seen).fromNow() }} {% endif %}</td>

            </tr>
        </tbody>
    </table>

    <div style="display:block">
        {# edit button#}
        {% if user.username == current_user.username %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
            Edit Profile
        </a>
        {% endif %}

        {#edit the profile as admin button #}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit as Admin</a>
        {% endif %}

    </div>
</div>

{% endblock %}