{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}{{super()}} User {{user_name}}{% endblock title %}

{% block navbar %}
{{ super() }}
{% endblock navbar %}


{% block page_content %}
{{ super() }}
<div class="page-header">
    <h1>{{ user.username }}</h1>

    {% if current_user.can(Permission.FOLLOW) %}
    {% if not current_user.is_following(user) %}
    <a class="btn btn-default" href="{{ url_for('.follow', username=user.username) }}">
        Follow
    </a>
    {% else %}
        <a class="btn btn-default" href="{{ url_for('.unfollow', username=user.username) }}">
        Unfollow
    </a>
    {% endif %}
    {% endif %}
    <button type="button" class="btn btn-light">
        <a href="{{ url_for('.following', username=user.username) }}">Following</a> <span
            class="badge badge-light">{{user.following.count() - 1}}</span>
    </button>

    <button type="button" class="btn btn-light">
        <a href="{{ url_for('.followers', username=user.username) }}">Followers</a> <span
            class="badge badge-light">{{user.followers.count() - 1}}</span>
    </button>

{# messages #}
{# forum #}
{# match #}

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{% if user.name %}{{ user.name }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Age</th>
                <td>{% if user.age %}{{ user.age }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">City</th>
                <td>{% if user.city %}{{ user.city }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td>{% if user.state %}{{ user.state }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Bio</th>
                <td>{% if user.bio %}{{ user.bio }}{% endif %}</td>
            </tr>
            <tr>
            <tr>
                <th scope="row">Gender</th>
                <td>{% if user.gender %}{{ user.gender }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Day</th>
                <td>{% if user.day %}{{ user.day }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Time of Day</th>
                <td>{% if user.time_of_day %}{{ user.time_of_day }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Ride or Walk</th>
                <td>{% if user.location %}{{ user.location }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Handicap</th>
                <td>{% if user.handicap %}{{ user.handicap }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Smoking</th>
                <td>{% if user.smoking %}{{ user.smoking }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Drinking</th>
                <td>{% if user.drinking %}{{ user.drinking }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Playing Type</th>
                <td>{% if user.playing_type %}{{ user.playing_type }}{% endif %}</td>
            </tr>
            {% if current_user.is_administrator() %}
            <tr>
                <th scope="row">Email</th>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            </tr>
            {% endif %}

                <th scope="row">Last seen</th>
                <td>{{ moment(user.last_seen).fromNow() }}</td>

            </tr>
        </tbody>
    </table>
</div>

{ # add user profile or avatar #}

{% if user.username == current_user.username %}
<a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
    Edit Profile
</a>
{% endif %}

{# add admin edit profile #}
{% if current_user.is_administrator() %}
<a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit as Admin</a>
{% endif %}


{# add pagination here later#}

<div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="./static/istockphoto-486876112-612x612.jpg" style="width:100%">
    <div class="text">Caption Text</div>
  </div>


{% endblock %}